JWT_SECRET=your-secret-key-here-change-in-production
MQTT_URL=mqtt://mosquitto:1883
RPC_URL=http://hardhat-node:8545
MONGO_URI=mongodb://admin:password@mongodb:27017/supplychain?authSource=admin
CONTRACT_ADDRESS=
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ROLE_OWNER_ADDRESSES_JSON={"manufacturer":"0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266","distributor":"0x70997970C51812dc3A010C7d01b50e0d17dc79C8","transport":"0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC","warehouse":"0x90F79bf6EB2c4f870365E785982E1f101E93b906","retailer":"0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65","consumer":"0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D"}

# Email Configuration (for notifications)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=notifications@example.com
EMAIL_PASS=your-email-password
EMAIL_FROM=ChainTrack <noreply@example.com>